<config>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Fafa_Test</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>
</config>
